* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #000;
  --secondaryColor: #fa255e;
  --tertiaryColor: #c39ea0;
  --mainWhite: #f8e5e5;
}
/* NAVBAR AND LANDING PAGE STYLING */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
}
.nav-link {
  margin-right: 1rem;
  list-style: none;
}
.logo,
.nav-link a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}
.landing-container {
  height: 100vh;
  margin: 2rem;
}
.landing-image img {
  width: 100%;
  height: 70vh;
}
/* END NAVBAR AND LANDING STYLING */

.cocktail-container {
  display: flex;
  justify-content: center;
}
.cocktail {
  margin: 1rem 0;
}
.cocktail img {
  border-radius: 10px;
  height: 200px;
  width: 300px;
  box-shadow: 5px 10px 18px #333;
  cursor: pointer;
}
.cocktail p {
  color: #333;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

/* INGREDIENTS STYLING */
.modal-body {
  text-align: center;
}
.ingredients-container li {
  list-style: none;
}
.moody {
  background-color: var(--secondaryColor);
}
/* END INGRDIENTS STYLING */

/* SHOWCASE STYLING */
.showcase-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.drink-wrapper {
  width: 300px;
  height: 400px;
  display: flex;
  margin: 1rem auto;
  border: 2px solid #000;
  padding: 1rem;
}
.drink-details {
  margin-right: 2rem;
}
.drink-thumbnail img {
  width: 100%;
  height: 100%;
}
/* END SHOWCASE STYLING */
